<div class="load-status" data-bind="visible: !DataLoaded()">
    Loading players... <img src="/Images/loading.gif" alt="Loading..." />
</div>
<div id="players-list-wrapper" class="container-fluid" data-bind="visible: DataLoaded">
    <div class="players-filter">
        <input type="text" id="playersFilter" placeholder="Фильтр по имени" data-bind="textInput: Filter, event: { keydown: clearFilter }" />
        <button type="button" id="playersClearFilter" class="btn btn-info  btn-sm" data-bind="click: clearFilter ">Показать всех</button>
    </div>
    <div class="players-paging button-group" data-bind="visible: Filter() === ''">
        <button type="button" class="btn btn-sm btn-default" data-bind="click: pagePrevious">Предыдущая</button>
        <button type="button" class="btn btn-sm btn-default" data-bind="text: 'Страница ' + CurrentPage() + ' из ' + TotalPages(), click: goToFirstPage()" title="В начало"></button>
        <button type="button" class="btn btn-sm btn-default" data-bind="click: pageNext">Следующая</button>
    </div>

    <div class="players-list row">
        <table>
            <thead>
                <tr>
                    <th>
                        Рейтинг
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Страна
                    </th>
                    <th>
                        Возраст
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: { data: Players, as: 'Player' }">
                <tr>
                    <td>
                        <span class="ranking" data-bind="text: Player.Ranking.CurrentRankingString"></span>
                    </td>
                    <td>
                        <a data-bind="attr: { href: '/Player/Player?playerId=' + Player.Id }">
                            <span class="name" data-bind="text: Player.FullName"></span>
                        </a>
                    </td>
                    <td>
                        <span class="country" data-bind="text: Player.CountryString"></span>
                    </td>
                    <td>
                        <span class="age" data-bind="text: Player.Age"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="players-paging button-group" data-bind="visible: Filter() === ''">
        <button type="button" class="btn btn-sm btn-default" data-bind="click: pagePrevious">Предыдущая</button>
        <button type="button" class="btn btn-sm btn-default" data-bind="text: 'Страница ' + CurrentPage() + ' из ' + TotalPages(), click: goToFirstPage()" title="В начало"></button>
        <button type="button" class="btn btn-sm btn-default" data-bind="click: pageNext">Следующая</button>
    </div>
</div>