@{
    Layout = "~/Plugins/Misc.LLT/Views/Shared/_Layout.cshtml";
}

<div align="justify" style="width:80%; padding:10px 10%; color:#777">

<div align="center">САЙТ НА РЕКОНСТРУКЦИИ<br>Записаться на турнир либо узнать любую информацию можно по телефону: <strong>+375257133018 Роман</strong> или в группе вк: <a href="https://vk.com/liga_tennisa">https://vk.com/liga_tennisa</a></div><br>


Любительская Лига Тенниса (ЛЛТ) - объединение любителей тенниса в Беларуси и не только. Главные турниры проходят в Минске. Целью Лиги является развитие любительского тенниса в Беларуси. ЛЛТ включает в себя проведение турниров различной категории, единый рейтинг, матчи вызова, организация мастер классов, тренингов, поездок и иные мероприятия связанные с популяризацией тенниса. Рейтинг ЛЛТ обсчитывается регулярно после каждого турнира. Количество очков зависит от категории турнира и пройденного этапа.<br><br>


<u>УРОВНИ ИГРЫ:</u><br>

ЛЛТ разделена на три уровня игры: МАСТЕРС, ЧЕЛЛЕНДЖЕР, ФЬЮЧЕРС. Каждый из трёх уровней имеет свой собственный турнир + есть возможность играть турниры выше, на определённых условиях.<br><br>



<strong>Мастерс:</strong> любители с высоким уровнем игры, тренеры, бывшие профессионалы, действующие игроки (BTF, ITF) парни от 14 до 16 лет, девушки от 14 до 18 лет (возможен допуск проф. игроков и старше - индивидуально решается с администрацией).<br>

<strong>Челленджер:</strong> любители среднего уровня, способные проводить обмен ударов, выполнять стабильно подачу.<br>

<strong>Фьючерс:</strong> начинающие игроки, которые только учатся. Не стабильная игра на задней линии, неуверенная подача.<br><br>

<u>Про турниры:</u><br>

<strong>Мастерс</strong> - игроки уровня Мастерс (имеют приоритет во включение в основную сетку) + игроки уровня Челленджер (начинают с квалификации или при наличии мест в основе могут начать с основной сетки согласно рейтингу).<br>

<strong>Челленджер</strong> - игроки уровня Челленджер (имеют приоритет во включение в основную сетку) + игроки уровня Фьючерс (начинают с квалификации или при наличии мест в основе могут начать с основной сетки согласно рейтингу).<br>

<strong>Фьючерс</strong> - игроки уровня Фьючерс (начинающие). Игроки уровня Фьючерс не имеют право играть мастерсы и турниры большого шлема.<br>

<strong>Большой Шлем</strong> - главный турнир ЛЛТ, допускаются игроки уровня Мастерс и Челленджер.<br>

<strong>Клубный чемпионат ЛЛТ</strong> - командный чемпионат, в котором лучшие восемь игроков рейтинга наберут себе команду и сразятся в смешанном формате (одиночки и пары).<br><br>

Если у вас нет рейтинга, то вы получите его автоматически после проведённого турнира!<br>

<u>Регламент матчей на турнире:</u><br>

Матчи одиночного разряда проводятся до победы в двух сэтах, если счёт 1-1, то играется супер тайбрейк до 10 очков (с перевесом в 2 балла).
<br>
Опоздания на матч караются по штрафной шкале: каждые 5 минут - 1 гейм. 30 минут - проигранный сэт. Будьте, пожалуйста, пунктуальны!
<br>
Матчи судятся самими игроками (либо с привлечением судей от организаторов), соблюдая международные правила проведения матчей, уважая соперника и организаторов.
<br>
Разминка матча не превышает 8 минут.
<br><br>
<strong>Будьте активны! Любите теннис :) #ЛЛТ</strong>

</div>