@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}

<div id="llt-master-wrapper" class="container-fluid">
    <div class="llt-header row">
        @Html.Action("TopMenu", "LLTCatalog")
    </div>

    <div class="llt-main-content row">
        <div id="mainContainer" class="main-container">
            <div class="page-title">
                <h1>@Html.GetPageTitle(false)</h1>
            </div>
            @RenderBody()
        </div>
    </div>

    <div class="llt-footer row" style="position: fixed; bottom: 0">
        <div class="footer-powered-by" style="position: fixed; bottom: 0">
            Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
            @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
        </div>
    </div>
</div>